include README.rst
include LICENSE
include VERSION

graft src

prune docs
prune examples
prune scripts
prune tests

exclude tox.ini appveyor.yml readthedocs.yml
exclude CONTRIBUTING.rst
exclude .coveragerc
